[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown {
  display: none;
}

[data-dropdown]:hover .dropdown,
[data-dropdown].active .dropdown {
  display: block;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown {
  position: absolute;
  background: #e54;
  top: 38px;
  border: 2px solid #333;
  z-index: 200;
}

.dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e54;
}
