.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: #fff;
  width: 80vw;
  max-width: 600px;
  box-sizing: border-box;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #fff;
  position: relative;
  min-width: 300px;
  animation: modal 0.3s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(-90px, -80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

.btn {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #e54;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type='submit'] {
  display: block;
  background: #e54;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  cursor: pointer;
}

.modal button[type='submit']:hover {
  filter: brightness(0.9);
}
